# Ignore everything by default
*

# Allow specific files and directories
!setup.py
!setup.cfg
!Megatron-LM
!fast_llm
!examples
!tools
!tests
!pyproject.toml

# Exclude Python cache directories and shared object files within included directories
**/__pycache__/
**/*.so
