# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Doc build
.cache
site

# Distribution / packaging
*.egg-info/

# Environment
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS
.DS_Store

# Project specifics
/.idea/
/.vscode/

# Devenv
.devenv*
devenv.local.nix
devenv.*

# direnv
.direnv
