# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
        args:
        - --unsafe
    -   id: check-added-large-files
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
        args:
        - --py39-plus
        - --keep-runtime-typing
-   repo: https://github.com/myint/autoflake
    rev: v2.3.1
    hooks:
    -   id: autoflake
        args:
        - --recursive
        - --in-place
        - --remove-all-unused-imports
        - --remove-unused-variables
        - --expand-star-imports
        - --exclude
        - app/scripts/utility/shell.py
        - --remove-duplicate-keys
-   repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        name: isort (python)
    -   id: isort
        name: isort (cython)
        types: [cython]
    -   id: isort
        name: isort (pyi)
        types: [pyi]
-   repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
    -   id: black
        args:
            - "--config"
            - "./pyproject.toml"
-   repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    -   id: markdownlint-cli2
        name: markdownlint
        files: "docs/"
        entry: markdownlint-cli2
        args: ["--fix"]
        language: node
        types: [markdown]
